@font-face {
    font-family: 'WortellinaEdit';
    src: local('WortellinaEdit'), url('https://fontedits10.github.io/fontedits/WortellinaEdit.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
